@model IEnumerable<eBosCRM.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3 align="center">Customers</h3>


@Html.Action("GridViewPartial", "CustomersView")


@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#navbarTogglerDemo02 ul li').removeClass("active");
        $('#sidebar ul li').removeClass("active");

        $("#sub-customers").addClass('special-active');
        $("#customers").addClass('active');
    });
</script>