@model IEnumerable<eBosCRM.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 align="center">Employees</h3>


@Html.Action("GridViewPartial", "HumanResources")


@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $('#navbarTogglerDemo02 ul li').removeClass("active");
        $('#sidebar ul li').removeClass("active");

        $("#hr").addClass('active');
        $("#sub-hr").addClass('special-active');
    });
</script>
